@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
header{
    margin: 15px 0;
    padding: 15px;
    border-bottom: solid 2px #4e444e;
    height: auto;
    font-family:  "Lora", serif;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .text-center{
    color: rgb(24, 186, 226);
    font-size: 25px;

}
header .container .row .navbar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-transform: uppercase;
        position: relative;
    
}
header .icons{
    position: absolute;
    top: 35px;
    right: 30px;
    font-size: 25px;
    display: none;
    transition: all 0.5s linear;
}
header .icon:active{
    transform: scale(1.2);
}
header .container  .row .navbar .list {
        list-style-type: none;
        padding: 10px;
        
}
header .container  .row .navbar .list a{
    text-decoration: none;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
header .container .row .navbar .list a:hover{
    color:rgb(167, 25, 167);
}
/* responsive */
@media (max-width:770px) {
/* responsive pour la barre de menu */
    header .container .row .navbar{
        display: none;
        text-align: center;
        padding: auto;
    }


    header .text-center{
        display: flex;
        justify-content: center;
        margin: 5px auto;
    }
    header .icons{
    display: block;
    }
}